@model TomaTallaViewModel
@{
    ViewData["Title"] = "Confirmar recepción";
}

<h2>Confirmación de recepción</h2>

<div class="card mb-3 shadow">
    <div class="card-body">
        <h4 class="card-title">Datos personales</h4>
        <table>
            <tr>
                <td>Nombre:&ensp;&ensp;</td>
                <td>@Model.Funcionario.Nombre</td>
            </tr>
            <tr>
                <td>Rut: </td>
                <td>@Model.Funcionario.Rut-@Model.Funcionario.Dv</td>
            </tr>
            <tr>
                <td>Cargo: </td>
                <td>@Model.Funcionario.Cargo.Nombre</td>
            </tr>
        </table>
    </div>
</div>


<form class="form-control text-center p-5">
    <div class="mb-3">
        <input type="checkbox" required /> Declaro haber recibido conforme mi uniforme
    </div>
    <button type="submit" class="btn btn-success">Acepto</button>
</form>