@model AccesoFuncViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="w-50 container-fluid">
    <div class="card p-5 row align-items-center">
        <div class="card-body">
            <h2 class="card-title mb-5">

                <img src="~/img/talla.png" style="width:40px" />
                Acceso
            </h2>
           
            <form asp-action="Index">
                <div class="mb-3">
                    <label asp-for="Identificador" class="col-form-label">Ingrese RUT o Correo</label>
                    <input asp-for="Identificador" class="form-control" placeholder="11111111-1 o correo@example.com" />
                    <span asp-validation-for="Identificador" class="text-danger"></span>
                </div>

                
                <div>
                    <label asp-for="Clave" class="form-label">Ingrese contraseña</label>
                    <input asp-for="Clave" class="form-control" type="password" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mt-5 w-100">Acceder</button>
            </form>
            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}